*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    width:100%;
    justify-content: space-between;
    font-weight:100;
    font-size: 12px;
}

h2 a {
    text-decoration: none;
    color: #BD60E7;
}

h2 a:hover {
    color: #c89bdd;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: 0px auto;
}

button, li{
    background-color: #361C75;
    color: white;
    border: 20px;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 20px;
}

ol {
    align-self: flex-start;
    list-style-type: decimal;
}

li {
    margin: 15px;
    text-align: left;
}

li:hover, button:hover{
    background-color: #BD60E7;
}

h3 { 
    border-top: 2px solid #B9B9B9;
    width: 110%;
    text-align: left;
    color: #B9B9B9;
    padding: 10px;
}


